@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #thermal-receipt-container,
  #thermal-receipt-container * {
    visibility: visible;
  }
  #thermal-receipt-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white !important;
    color: black !important;
  }
  .print-hide {
    display: none !important;
  }
}